* {
  box-sizing: border-box;
}
:root {
  --header-bg: #10375c;
  --primary-color: #2e80ce;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

a {
  text-decoration: none;
}
/* common */
.container {
  width: 1170px;
  /* khi co màn hình lại luôn giữ khoảng trống mỗi bên là 24px */
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  --height: 60px;
  display: inline-block;
  color: #fff;
  background-color: var(--primary-color);
  height: var(--height);
  min-width: 205px;
  text-align: center;
  line-height: var(--height);
  padding: 0 20px;
  border-radius: 30px;
  border: 1px solid var(--primary-color);
  font-weight: 400;
  font-size: 1.6rem;
}
/* header  */

.header {
  padding-top: 30px;
  min-height: 100vh;
  background: var(--header-bg);
}

/* làm phần logo  */

.logo {
  display: inline-flex;
  font-size: 1rem;
  position: relative;
}

.logo__circle::before,
.logo__circle::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
}

.logo__circle::before {
  width: 3em;
  height: 3em;
  background: var(--primary-color);
}

.logo__circle::after {
  position: absolute;
  top: 1.1em;
  left: 1.1em;
  width: 1.6em;
  height: 1.6em;
  background: #fff;
}

.logo__text {
  color: #fff;
  margin-left: 0.6em;
  line-height: 1.6em;
}

.logo__brand {
  display: block;
  color: #fff;
  text-align: right;
  font-size: 1.8em;
}
.logo__brand + .logo__brand {
  font-size: 1.2em;
  font-weight: 300;
}

/* header top  */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  display: flex;
}

.navbar__link,
.header-action__login {
  padding: 8px 21px;
  font-size: 1.6rem;
  font-weight: 300;
  color: #c9d2da;
}

.navbar__link--active,
.navbar__link:hover {
  /* tạo chữ dày lên khi active mà không bị giựt giựt khi hover */
  text-shadow: 1px 0 0 currentColor;
  color: #fff;
}

.navbar__link--active::before {
  content: "";
  position: relative;
  top: -2px;
  left: -8px;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}

.header-action {
  display: flex;
  align-items: center;
}
.header-action__login {
  margin-right: 7px;
}

.header-action__signup {
  --height: 44px;
  min-width: 104px;
}
