* {
  box-sizing: border-box;
}
:root {
  --header-bg: #10375c;
  --primary-color: #2e80ce;
  --text-color: #10375c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}
/* common */
.container {
  width: 1170px;
  /* khi co màn hình lại luôn giữ khoảng trống mỗi bên là 24px */
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

h1 {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -0.02em;
}

.section-heading {
  color: var(--text-color);
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}

.section-desc {
  color: #575f66;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}
/* button {
  background-color: #fff;
  cursor: pointer;
} */

.btn {
  --height: 60px;
  display: inline-block;
  color: #fff;
  background-color: var(--primary-color);
  height: var(--height);
  min-width: 205px;
  text-align: center;
  line-height: var(--height);
  padding: 0 20px;
  border-radius: 30px;
  border: 1px solid var(--primary-color);
  font-weight: 400;
  font-size: 1.6rem;
}

.nav__control {
  display: flex;
  gap: 18px;
  /* justify-content: center; */
}

.nav__control--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: 1px solid #575f66;
  border-radius: 50%;
  background-color: #fff;
  color: #575f66;
  transition: 0.25s;
}

.nav__control--btn:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
}
/* header  */

.header {
  padding-top: 30px;
  min-height: 100vh;
  background: var(--header-bg);
}
/* header top  */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  width: 1200px;
  max-width: calc(100% - 48px);
  position: fixed; /* hoặc fixed */
  top: 0;
  z-index: 1000;
  background: var(--header-bg);
}

/* làm phần logo  */

.logo {
  display: inline-flex;
  font-size: 1rem;
  position: relative;
}

.logo__circle::before,
.logo__circle::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
}

.logo__circle::before {
  width: 3em;
  height: 3em;
  background: var(--primary-color);
}

.logo__circle::after {
  position: absolute;
  top: 1.1em;
  left: 1.1em;
  width: 1.6em;
  height: 1.6em;
  background: #fff;
}

.logo__text {
  color: #fff;
  margin-left: 0.6em;
  line-height: 1.6em;
}

.logo__brand {
  display: block;
  color: #fff;
  text-align: right;
  font-size: 1.8em;
}
.logo__brand + .logo__brand {
  font-size: 1.2em;
}

.navbar__list {
  display: flex;
}

.navbar__link,
.header-action__login {
  padding: 8px 21px;
  font-size: 1.6rem;
  color: #c9d2da;
}

.navbar__link--active,
.navbar__link:hover {
  /* tạo chữ dày lên khi active mà không bị giựt giựt khi hover */
  text-shadow: 1px 0 0 currentColor;
  color: #fff;
}

.navbar__link--active::before {
  content: "";
  position: relative;
  top: -2px;
  left: -8px;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}

.header-action {
  display: flex;
  align-items: center;
}
.header-action__login {
  margin-right: 7px;
}

.header-action__signup {
  --height: 44px;
  min-width: 104px;
}

/* Hero  */

.hero {
  margin-top: 76px;
  display: flex;
  align-items: center;
}

.hero__content {
  width: 44.18%;
  flex-shrink: 0;
}

.hero__desc {
  color: #c9d2da;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
  margin-top: 22px;
  margin-bottom: 38px;
}

.hero__row {
  display: flex;
  align-items: center;
  gap: 38px;
}

.hero__phone {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}
.hero__media {
  flex-grow: 1;
}

.hero__images {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero__img {
  width: 330px;
  height: 540px;
  border-radius: 6px;
  object-fit: cover;
}
.hero__img:first-child {
  position: relative;
  margin-right: -6px;
}
.hero__img:last-child {
  width: 210px;
  height: 410px;
}

/* Service */

.services {
  padding: 170px 0;
}

.service__heading,
.service__desc {
  text-align: center;
}

.service__desc {
  margin-top: 18px;
  max-width: 468px;
  margin-left: auto;
  margin-right: auto;
}

.service__row {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 130px;
}

.service__img {
  width: 570px;
  height: 570px;
  object-fit: cover;
  border-radius: 12px;
}
.service__list {
  margin-bottom: 55px;
}
/* service-item  */
.service__item {
  width: 470px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 19px;
  padding: 22px;
  border-radius: 10px;
  background: #fff;
  transition: 0.25s;
}
.service__item:hover {
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}
.service__item:hover .service-item__icon {
  color: #fff;
  background-color: var(--primary-color);
  box-shadow: 0 8px 16px 0 rgba(40, 155, 222, 0.15);
}
.service-item__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  color: #10375c;
  background-color: #eff6fd;
  border-radius: 50%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
}

.service-item__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 8px;
  line-height: 1.27;
}

.service-item__desc {
  color: #575f66;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}

/* work */

.work {
  padding: 100px 0;
  background: #f6fbff;
}

.work-desc {
  width: 468px;
}

.work__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  margin-top: 70px;
}

.work-item {
  padding: 43px;
  border: 16px solid #eaf6ff;
  border-radius: 4px;
  background: #fff;
  transition: 0.25s;
}

.work-item:hover {
  transform: translateY(-16px);
  border-color: var(--primary-color);
}
.work-item__heading {
  margin-top: 18px;
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38; /* 138.462% */
}

.work-item__desc {
  margin-top: 28px;
  color: #575f66;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}

.work-item__more {
  display: inline-block;
  color: var(--primary-color);
  margin-top: 18px;
}

.work-item__more:hover {
  color: #1505fb;
}

/* feature */
.feature {
  margin-top: 85px;
  padding: 85px 0;
}

.feature__inner {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 130px;
}
.feature__media {
  width: 48.72%;
}
.feature__images {
  position: relative;
  /* thay vì đặt position cho ảnh 2 lùi xuống -121px thì các phần tử bên dưới sẽ bị đè lên, đặt position bottom =0 và cho padding bottom =121px */
  padding: 0 58px 121px 0;
}
.feature__img {
  width: 512px;
  height: 370px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.07);
}

.feature__img:last-child {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 332px;
  height: 370px;
}

.feature-heading {
  margin-bottom: 18px;
}

.feature__cta {
  margin-top: 38px;
}

/* Members */

.member {
  padding: 85px 0;
  text-align: center;
}

.member-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 38px;
}

.member__cta {
  display: inline-block;
  margin: 0 auto;
}

.member__list {
  margin-top: 70px;
  margin-bottom: 38px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 38px;
}

.member-item__img-bg {
  padding-top: 28px;
  border-radius: 6px;
  background: #eaf6ff;
  overflow: hidden;
}
.member-item:hover .member-item__thumb {
  transform: scale(1.1);
}
.member-item__thumb {
  /* tính chất của thẻ img là display inline nên sẽ tạo khoản trắng phía dưới so với thể background bên ngoài */
  display: block;
  max-width: calc(100% - 8px);
  height: 290px;
  flex-shrink: 0;
  padding: 0 4px;
  object-fit: cover;
  border-radius: 6px;
  transition: 0.25s;
}

.member-item__name {
  margin-top: 12px;
  color: #10375c;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.member-item__uni {
  color: #575f66;
  /* text-align: center; */
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}
.member__control {
  justify-content: center;
}

/* install */

.install {
  padding: 85px 0;
}

.install__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  gap: 160px;
  margin-top: 95px;
  border-radius: 4px;
  background: var(--primary-color);
}

.install__img {
  width: 284px;
  height: 522px;
  margin-top: -95px;
  flex-shrink: 0;
  object-fit: cover;
  display: block;
}

/* .install__content {
  width: 50%;
} */

.install-heading {
  max-width: 489px;
  color: #fff;
  margin-bottom: 18px;
}

.install-desc {
  margin-bottom: 38px;
  color: #fff;
}

.install__row {
  display: flex;
  gap: 28px;
}

.install__btn:hover {
  transform: scale(1.1);
  transition: 0.25s;
}

/* news */
.news {
  padding: 85px 0;
}

.news__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 130px;
}

.news_content {
  max-width: 40.17%;
}

.news__blog {
  display: inline-block;
  margin: 28px 0;
  color: #10375c;
  font-family: "Inter", "Sora", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.56; /* 155.556% */
  text-decoration-line: underline;
}

.news__list {
  max-width: 48.72%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.news-items {
  flex: 1;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.25s;
}

.news-items:hover {
  box-shadow: 0 18px 50px 0 rgba(0, 0, 0, 0.05);
  transform: translateY(-8px);
}
.news-items:hover .news-item__body {
  border-color: #fff;
}

.news-item__thumb {
  height: 172px;
  overflow: hidden;
}

.news-item__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
  transition: 0.25s;
}

.news-items:hover .news-item__img {
  transform: scale(1.1);
}
.news-item__body {
  padding: 22px;
  border: 1px solid #e8ebee;
  background: #fff;
  border-top: none;
  border-radius: 0 0 12px 12px;
  transition: 0.25s;
}

.news-item__heading {
  color: #10375c;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.63; /* 162.5% */
  margin-bottom: 10px;
}

.news-item__desc {
  max-width: 226px;
  color: #575f66;
  font-size: 1.4rem;
  line-height: 1.72; /* 171.429% */
  margin-bottom: 12px;
}

.news-item__more {
  color: #10375c;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6;
}

.news-item__more:hover {
  color: var(--primary-color);
}

/* appointment */
.appointment {
  padding: 85px 0;
  margin-bottom: 85px;
}
.appointment__inner {
  padding: 100px 0px;
  background: #f7fbff;
  text-align: center;
  border-radius: 4px;
}
.appointment-heading {
  position: relative;
  /* padding-bottom: 19px; */
}
.appointment-heading::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -19px;
  transform: translateX(-50%);
  /* bottom: 0; */
  width: 136px;
  height: 2px;
  background: #2e80ce;
}
.appointment-desc {
  max-width: 52.74%;
  margin: 38px auto;
  font-size: 1.6rem;
}
/* Footer */
.footer {
  padding: 100px 0;
  background: #10375c;
}
